<div class='swiper-container' {{did-insert this.onDidInsert}}>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      Watermelon
    </div>
    <div class='swiper-slide'>
      Orange
    </div>
  </div>
  <div class='swiper-pagination'></div>
</div>